html, body {
    height: 100%;
    color: #30362F;
    font-family: 'Concert One', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: url('../images/PokeChat-background.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
}

/* Sidebar Layout */
.sidebar {
    width: 200px;
    background-color: #96BDC6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: fixed;
}

.pokechat-logo {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-link {
    font-size: 28px !important;
    margin: 20px 0;
    text-align: center;
}

.nav-link:hover {
    background-color: #E4E0CF;
    padding: 10px;
    border-radius: 50%;
}

.content {
    margin-left:220px;
    padding: 20px;
}

/* Posts */

.feed {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#posts {
    max-width: 800px;
    width: 100%;
    background-color: #96BDC6 !important;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    align-items: center;
}

.img-container {
    background-color: #E4E0CF !important;
    margin: 10px;
    border-radius: 15px;
    border: 3px solid #30362F;
}

.post-image {
    padding: 5px;
    border-radius: 15px;
}

.card-body-container {
    background-color: #E4E0CF !important;
    margin: 10px;
    border-radius: 15px;
    border: 3px solid #30362F;
}

.like-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.like-button i {
    font-size: 24px;
    color: #30362F;
}

.comment-button,
.share-button {
    text-decoration: none;
    font-size: 24px;
    color: #30362F;
    margin-left: 17px;
}